<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxford Graduate Form - Section M</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <header class="d-flex justify-content-center align-items-center p-3">
        <a href="../layouts/studentView/application-list.html" data-bs-toggle="tooltip" title="Back to Home"><img src="../../assets/images/Oxford-University-Circlet.svg.png" alt="University of Oxford Logo" width="100"></a>
    </header>

    <form id="data_protection">
        <fieldset class="border p-4 custom-container">
            <legend>Section M: Data Protection Notice and Declaration</legend>
            <p>Please read the following Data Protection Notice and Declaration carefully. By signing the Declaration you confirm your acceptance of the statements which form the Declaration. If you do not sign this form, we cannot process your application.</p>
        
            <h3>DATA PROTECTION NOTICE</h3>
            <p>Personal data will be collected, stored and retained in accordance with the General Data Protection Regulation and related UK data protection legislation. Please read the University's Data Protection Notice (Appendix B) before accepting the terms and conditions and submitting your application.</p>
        
            <h3>DECLARATION</h3>
            <p>I confirm that the information I have provided on this application form is (to the best of my knowledge) true, accurate, current and complete; and I agree to notify the University promptly if any information contained on this application form should change, in order to keep it true, accurate, current and complete.</p> 
            <p>I confirm that all supporting work submitted as part of this application is entirely my own original work, except where clearly stated otherwise, and does not include any plagiarised elements.</p>
            <p>I accept that if I become a student at the University of Oxford the terms of the <a href="https://www.admin.ox.ac.uk/statutes/790-121.shtml" target="_blank">University's Statue XVI</a> relating to intellectual property will apply to me, and that the University will be entitledin accordance with those terms to claim ownership of intellectual property which I produce.</p>
            <p>PLEASE NOTE: All admissions decisions taken by the University of Oxford and its Colleges rely on the statements made on the application form and on the supporting documents supplied by you and your referees. This information will be held and used for the purpose of processing your application for study, for student administration and, where relevant, for funding purposes.</p>
            <p>If the University, or any College of the University, believes that any information or statement, including references, contained on your application form may not be true, accurate, current and complete, or that any document submitted in support of your application may not be entirely your own original work, except where clearly stated otherwise, it may take any necessary steps, including contacting third parties, toverify that information or statement, or to confirm that any supporting document is entirely your own original work, except where clearly stated otherwise.</p>
            <p>As part of the admissions process the University may use a plagiarism detection system. This system screens any written work submitted as part of your application for plagiarism, paraphrasing and collusion. The plagiarism detection system will store on its database any written work submitted for screening. For the University's definition of plagiarism and more information on how the plagiarism detection system works please see the <a href="https://www.ox.ac.uk/admissions/graduate/applying-to-oxford/university-policies/plagiarism?wssl=1" target="_blank">Application Guide</a></p>
            <p>If, in the opinion of the University, or any College of the University, any information or statement, including references, provided on this	application form is not true, accurate, current and complete, or any supporting document is not entirely your own original work, except where clearly stated otherwise, the University, or any College of the University, retains the right to reject your application. If you have been made an offer by the University, or any College of the University, then the University, or any College of the University, may in these circumstances withdraw or amend that offer, or terminate your contact with the University or College if you have accepted your offer. If you have been admitted as a student, you may be subject to disciplinary action which could result in your expulsion from the University and your College.</p>

            <p class="mb-1 full-opacity">Please sign in the box below and print your name to accept this declaration:</p>
            <div class="mb-3 form-group label-input-group">
                <label class="form-label" for="signature">Signature:</label>
                <input type="text" class="form-control" id="signature">
            </div>

            <div class="mb-3 form-group label-input-group">
                <label class="form-label" for="date">Date:</label>
                <input type="date" class="form-control" id="date">
            </div>

            <div class="mb-3 form-group label-input-group">
                <label class="form-label" for="printName">Please Print Name:</label>
                <input type="text" class="form-control" id="printName">
            </div>
        </fieldset>
    </form>

    <footer>
        <div class="container mt-4">
            <div class="progress rounded-pill">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="17"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="section_l.html" class="btn btn-outline-danger rounded-pill">
                    <span class="bi bi-arrow-left"></span>
                </a>
                <p class="mb-0">13 of 13</p>
                <a href="submit.html" id="nextBtn" class="btn btn-outline-primary rounded-pill">
                    <span class="bi bi-arrow-right"></span>
                </a>
            </div>
        </div>
    </footer>

    <script src="section_m.js"></script>
</body>
</html>