<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxford Graduate Form - Section H</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <header class="d-flex justify-content-center align-items-center p-3">
        <a href="../../index.html" data-bs-toggle="tooltip" title="Back to Home"><img src="../../assets/images/Oxford-University-Circlet.svg.png" alt="University of Oxford Logo" width="100"></a>
    </header>

    <form>
        <fieldset class="border p-4 custom-container">
            <legend>SECTION H: REFEREES</legend>
            <p>Please enter contact details for three referees below.</p>
            <p>References should be academic or, where specifically permitted on the <a href="http://www.graduate.ox.ac.uk/courses" target="_blank">courses page</a>, professional. Family members, friends, and neighbours may not act as referees.</p>
            <p>It is a University requirement that three references are provided and that references are received in time for the deadline for your application to be considered. For more information on references, please see the <a href="http://www.graduate.ox.ac.uk/applicationguide" target="_blank">Application Guide</a>.</p>
            <p>Please ask your referee to send the reference directly to us at <a href="mailto:graduate.admissions@admin.ox.ac.uk">graduate.admissions@admin.ox.ac.uk</a> quoting your full name and the course to which you are applying, and we will add it to your application.</p>
            <p>References must be sent to us from your referee's official (institutional or organisational) email address. Alternatively, sealed references may be enclosed with this application. In this case, each reference must be in a sealed envelope, signed by the referee across the seal of the envelope and their signature covered with clear adhesive tape.</p>

            <hr>
            <h3>Referee 1</h3>
            <div class="mb-3">
                <div class="row mb-3">
                    <div class="col label-input-group">
                        <label for="refereeName1" class="form-label">Title, Name, and Role</label>
                        <input type="text" class="form-control" id="refereeName1">
                    </div>
                    <div class="col label-input-group">
                        <label for="refereeAddress1" class="form-label">Institution/Professional Address</label>
                        <input type="text" class="form-control" id="refereeAddress1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 label-input-group">
                        <label for="refereeType1" class="form-label">Type of Reference</label>
                        <input type="text" class="form-control" id="refereeType1">
                    </div>
                    <div class="col-8">
                        <label class="form-label full-opacity">Reference Submission Type</label>
                        <div class="d-flex">
                            <div class="form-check col-5">
                                <input class="form-check-input" type="checkbox" id="emailSubmission1">
                                <label class="form-check-label" for="emailSubmission1">Will submit by email</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" type="checkbox" id="sealedSubmission1">
                                <label class="form-check-label" for="sealedSubmission1">Sealed reference enclosed</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <h3>Referee 2</h3>
            <div class="mb-3">
                <div class="row mb-3">
                    <div class="col label-input-group">
                        <label for="refereeName2" class="form-label">Title, Name, and Role</label>
                        <input type="text" class="form-control" id="refereeName2">
                    </div>
                    <div class="col label-input-group">
                        <label for="refereeAddress2" class="form-label">Institution/Professional Address</label>
                        <input type="text" class="form-control" id="refereeAddress2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 label-input-group">
                        <label for="refereeType2" class="form-label">Type of Reference</label>
                        <input type="text" class="form-control" id="refereeType2">
                    </div>
                    <div class="col-8">
                        <label class="form-label full-opacity">Reference Submission Type</label>
                        <div class="d-flex">
                            <div class="form-check col-5">
                                <input class="form-check-input" type="checkbox" id="emailSubmission2">
                                <label class="form-check-label" for="emailSubmission2">Will submit by email</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" type="checkbox" id="sealedSubmission2">
                                <label class="form-check-label" for="sealedSubmission2">Sealed reference enclosed</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <h3>Referee 3</h3>
            <div class="mb-3">
                <div class="row mb-3">
                    <div class="col label-input-group">
                        <label for="refereeName3" class="form-label">Title, Name, and Role</label>
                        <input type="text" class="form-control" id="refereeName3">
                    </div>
                    <div class="col label-input-group">
                        <label for="refereeAddress3" class="form-label">Institution/Professional Address</label>
                        <input type="text" class="form-control" id="refereeAddress3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 label-input-group">
                        <label for="refereeType3" class="form-label">Type of Reference</label>
                        <input type="text" class="form-control" id="refereeType3">
                    </div>
                    <div class="col-8">
                        <label class="form-label full-opacity">Reference Submission Type</label>
                        <div class="d-flex">
                            <div class="form-check col-5">
                                <input class="form-check-input" type="checkbox" id="emailSubmission3">
                                <label class="form-check-label" for="emailSubmission3">Will submit by email</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" type="checkbox" id="sealedSubmission3">
                                <label class="form-check-label" for="sealedSubmission3">Sealed reference enclosed</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <footer>
        <div class="container mt-4">
            <div class="progress rounded-pill">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 47%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="17"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="section_g.html" class="btn btn-outline-danger rounded-pill">
                    <span class="bi bi-arrow-left"></span>
                </a>
                <p class="mb-0">8 of 17</p>
                <a href="section_i.html" class="btn btn-outline-primary rounded-pill">
                    <span class="bi bi-arrow-right"></span>
                </a>
            </div>
        </div>
    </footer>

</body>
</html>