<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxford Graduate Form - Section J</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <header class="d-flex justify-content-center align-items-center p-3">
        <a href="../layouts/studentView/application-list.html" data-bs-toggle="tooltip" title="Back to Home"><img src="../../assets/images/Oxford-University-Circlet.svg.png" alt="University of Oxford Logo" width="100"></a>
    </header>

    <form id="supporting_document">
        <fieldset class="border p-4 custom-container">
            <legend>Section J: Supporting documents checklist</legend>
            <p>Supporting documents are required with all applications.</p>
            <p>All applications require supporting documents to be submitted to make them complete; please check which documents are required for the course for which you are applying (<a href="https://www.graduate.ox.ac.uk/courses" target="_blank">www.graduate.ox.ac.uk/courses</a>). If any required documents are missing, or do not follow the specifications in the 'How to apply' section of the course page, the department may not assess your application.</p>
            <p class="mb-5">For the purpose of processing your application, your submitted documents will be scanned and merged into a single PDF document. By submitting your application, you agree to your documents being managed in this way.</p>

            <legend>MANDATORY FOR ALL COURSES: Tick documents being added</legend>
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>Transcripts:</b> Transcripts comprising a detailed record of your higher education, including courses taken and grades achieved, are mandatory for all applications (up to five documents can be attached). The document(s) provided must be readable, but may show watermarks caused by copying/scanning. Transcripts produced in student self-service online systems are acceptable. Any screenshots must include your name and the name of the institution.</p>
                    <p>Degree certificates will not be accepted in lieu of transcripts.</p>
                    <p>Further information on transcript requirements is available via the Graduate Admissions website (<a href="https://www.graduate.ox.ac.uk/applicationguide" target="_blank">www.graduate.ox.ac.uk/applicationguide</a>).</p>
                    <p>If you do not yet have a transcript or your institution provides electronic transcripts, you can submit the application form without it. However, the transcript must still be received by the relevant deadline for your application to be considered. If an electronic transcript will be provided, please register access to graduate.admissions@admin.ox.ac.uk and make it available for as long as possible.</p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="transcripts">
                        <label class="form-check-label" for="transcripts"></label>
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>CV/Résumé:</b> All courses require the submission of a CV, which must be submitted with the application form.</p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="cv">
                        <label class="form-check-label" for="cv"></label>
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>Statement of purpose/Research proposal:</b> Please submit a statement of purpose and/or research proposal according to the specific requirements for your course - please check the relevant course page (<a href="https://www.graduate.ox.ac.uk/courses" target="_blank">www.graduate.ox.ac.uk/courses</a>) for details. A statement of purpose or research proposal is mandatory for all applications, and must be entirely your own original work, except where clearly stated otherwise.</p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="statement">
                        <label class="form-check-label" for="statement"></label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>Written work 1</b></p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="writtenWork1">
                        <label class="form-check-label" for="writtenWork1"></label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>Written work 2</b></p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="writtenWork2">
                        <label class="form-check-label" for="writtenWork2"></label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>If your course permits one longer piece of written work instead of two shorter pieces:</b> (you can check this in the How to Apply section for your course on its course page at <a href="https://www.graduate.ox.ac.uk/courses" target="_blank">www.graduate.ox.ac.uk/courses</a>), please tick this box:</p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="longerWork">
                        <label class="form-check-label" for="longerWork"></label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>Portfolio/audio-visual media/maths test/music scores</b></p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="portfolio">
                        <label class="form-check-label" for="portfolio"></label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>English Language Test Result:</b> (e.g. TOEFL, IELTS, etc.)</p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="englishTest">
                        <label class="form-check-label" for="englishTest"></label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group d-flex">
                <div class="col-10">
                    <p><b>GRE admissions test certificate(s):</b> (See <a href="section_j.html">Section J</a> for further details)</p>
                </div>
                <div class="col-2 justify-content-center d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="greTest">
                        <label class="form-check-label" for="greTest"></label>
                    </div>
                </div>
            </div>
            <hr class="mb-5">
            


            <legend>Other items (please tick box(es) as appropriate)</legend>
            <div class="form-group d-flex mb-5">
                <p class="col-10">If you ticked “Yes” to English Language Test Waiver, please add a brief letter outlining the reasons why you should be exempted from the requirement - see the Application Guide <a href="https://www.graduate.ox.ac.uk/applicationguide" target="_blank">www.graduate.ox.ac.uk/applicationguide</a> for further information. If you do not need to provide an English language test result or are not requesting a test waiver, please do not submit a document.</p>
                <div class="form-check col-2 justify-content-center d-flex">
                    <input class="form-check-input" type="checkbox" value="" id="englishWaiverLetter">
                    <label class="form-check-label" for="englishWaiverLetter"></label>
                </div>
            </div>
                
            <legend>Scholarship application(s)</legend>
            <div class="form-group d-flex mb-3">
                <p> If you are applying for one or more University of Oxford    scholarships listed in Section M that require you to submit a supporting statement to complete your scholarship application, please add a separate supporting statement for each scholarship you have ticked. You must read the relevant scholarship profile(s) (www.ox.ac.uk/feesandfunding/prospectivegrad/scholarships) for full details about the awards, the required format for your supporting statement and the eligibility requirements before completing your scholarship application. Number of scholarship applications being added:</p>
                <div class="form-check col-2 justify-content-center d-flex">
                    <input class="form-check-input" type="checkbox" value="" id="scholarshipApplication">
                    <label class="form-check-label" for="scholarshipApplication"></label>
                </div>
            </div>
        </fieldset>
    </form>

    <footer>
        <div class="container mt-4">
            <div class="progress rounded-pill">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 76.9%;" aria-valuenow="14" aria-valuemin="0" aria-valuemax="17"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="section_i.html" class="btn btn-outline-danger rounded-pill">
                    <span class="bi bi-arrow-left"></span>
                </a>
                <p class="mb-0">10 of 13</p>
                <a href="section_k.html" id="nextBtn" class="btn btn-outline-primary rounded-pill">
                    <span class="bi bi-arrow-right"></span>
                </a>
            </div>
        </div>
    </footer>

    <script src="section_j.js"></script>
</body>
</html>