<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxford Graduate Form - Section K</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <header class="d-flex justify-content-center align-items-center p-3">
        <a href="../layouts/studentView/application-list.html" data-bs-toggle="tooltip" title="Back to Home"><img src="../../assets/images/Oxford-University-Circlet.svg.png" alt="University of Oxford Logo" width="100"></a>
    </header>

    <form id="app_fee_payment">
        <fieldset class="border p-4 custom-container">
            <legend>Section K: Application fee payment</legend>
            <p>The application fee is £75 per application. Payment can be made by any MasterCard, Visa, Visa debit, Visa Electron or Maestro card. Check your bank card has one of these logos.</p>
            <p>If you intend to submit more than one application you must make separate payments and provide us with the order number for each application.</p>

            <hr>
            <h3>To make a payment online</h3>
            <ol>
                <li>Please go to <a href="https://www.graduate.ox.ac.uk/applicationfee" target="_blank">www.graduate.ox.ac.uk/applicationfee</a> and make a purchase of the application fee. Click on 'Add to Basket' and then proceed to make payment. If you have not used the Online Stores before, you will need to create an account, and provide some personal details and the name of the course to which you are applying.</li>
                <li>Once you have paid your application fee, enter the six digit application fee order number (from confirmation of purchase email) in the box below – all have the prefix “OXF”: Please check the order number you have entered carefully, as it will be audited; any application with an invalid order number will not normally be considered.</li>
                <li>We will contact you by email if there is any issue with your payment.</li>
            </ol>

            <div class="form-group label-input-group mb-2">
                <label class="form-label" for="orderNumber">OXF</label>
                <input type="text" class="form-control" id="orderNumber" placeholder="Enter order number">
            </div>

            <p>It is acceptable for someone else to pay the application fee on your behalf. When creating the account, they should enter their own details rather than those of the applicant. Please advise them that once they have clicked "Add to Basket" they will be required to provide some personal information about you to allow the Graduate Admissions Office to match the payment to your application: your name, date of birth and the full title of the course and course code to which you are applying.</p>
            <hr>

            <h3>To make payment by Western Union</h3>
            <p>If you are not able to pay the application fee online or by cheque, please contact the Graduate Admissions Office on <a href="mailto:graduate.admissions@admin.ox.ac.uk">graduate.admissions@admin.ox.ac.uk</a> or +44 (0) 1865 270059 for further information about how to make the payment by Western Union.</p>
            <hr>

            <h4>To make a payment by cheque</h4>
            <p>Please enclose payment (in £ UK Sterling, drawn on a UK bank and made payable to “University of Oxford”).<br>Please write your name, date of birth and course name on the reverse of your cheque.</p>
            <hr>

            <h3>Fee Waivers</h3>
            <p>Fee waivers may be applied if your current country of ordinary residence is part of the World Bank Low Income Group. The eligible countries are:</p>
            <ul class="list-group list-group-flushed mb-3">
                <li class="list-group-item">Afghanistan</li>
                <li class="list-group-item">Chad</li>
                <li class="list-group-item">Guinea</li>
                <li class="list-group-item">Madagascar</li>
                <li class="list-group-item">Niger</li>
                <li class="list-group-item">Syrian Arab Republic</li>
                <li class="list-group-item">Yemen, Rep.</li>
                <li class="list-group-item">Congo, Dem. Rep.</li>
                <li class="list-group-item">Guinea-Bissau</li>
                <li class="list-group-item">Malawi</li>
                <li class="list-group-item">Rwanda</li>
                <li class="list-group-item">Tajikistan</li>
                <li class="list-group-item">Burkina Faso</li>
                <li class="list-group-item">Eritrea</li>
                <li class="list-group-item">Haiti</li>
                <li class="list-group-item">Mali</li>
                <li class="list-group-item">Sierra Leone</li>
                <li class="list-group-item">Tanzania</li>
                <li class="list-group-item">Burundi</li>
                <li class="list-group-item">Ethiopia</li>
                <li class="list-group-item">Korea, Dem. People's Rep.</li>
                <li class="list-group-item">Mozambique</li>
                <li class="list-group-item">Somalia</li>
                <li class="list-group-item">Togo</li>
                <li class="list-group-item">Central African Republic</li>
                <li class="list-group-item">Gambia, The</li>
                <li class="list-group-item">Liberia</li>
                <li class="list-group-item">Nepal</li>
                <li class="list-group-item">South Sudan</li>
                <li class="list-group-item">Uganda</li>
            </ul>

            <p>Fee waivers are only possible where you are currently <strong>resident</strong> in one of the above countries, meet the entry requirements and cannot pay the application fee.</p>
            <hr>

            <h3>Application Fee Waiver</h3>
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="feeWaiver" id="noWaiver" value="no">
                    <label class="form-check-label" for="noWaiver">I do not need a fee waiver</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="feeWaiver" id="waiver" value="yes">
                    <label class="form-check-label" for="waiver">I need a fee waiver</label>
                </div>
            </div>

            <p>Please note that if you are applying for a course in one of the Centres for Doctoral Training (CDT) or Doctoral Training Partnership (DTP), you will be required to pay the application fee for the first application. You may, however, submit up to two further applications for related courses from a set of permitted options without paying additional application fees. Please see the <a href="https://www.ox.ac.uk/admissions/graduate/applying-to-oxford/application-guide" target="_blank">Application Basics tab of the Guide</a> for further information.</p>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="confirmAfford">
                    <label class="form-check-label" for="confirmAfford">I confirm that I cannot afford to pay the application fee and would not be able to apply to the University without an application fee waiver.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="confirmEntry">
                    <label class="form-check-label" for="confirmEntry">I confirm that I will meet the entry requirements for my course as published on the course entry requirements page.</label>
                </div>
            </div>

        </fieldset>
    </form>

    <footer>
        <div class="container mt-4">
            <div class="progress rounded-pill">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 84.6%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="17"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="section_j.html" class="btn btn-outline-danger rounded-pill">
                    <span class="bi bi-arrow-left"></span>
                </a>
                <p class="mb-0">11 of 13</p>
                <a href="section_l.html" id="nextBtn" class="btn btn-outline-primary rounded-pill">
                    <span class="bi bi-arrow-right"></span>
                </a>
            </div>
        </div>
    </footer>

    <script src="section_k.js"></script>
</body>
</html>