<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxford Graduate Form - Section I</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <header class="d-flex justify-content-center align-items-center p-3">
        <a href="../layouts/studentView/application-list.html" data-bs-toggle="tooltip" title="Back to Home"><img src="../../assets/images/Oxford-University-Circlet.svg.png" alt="University of Oxford Logo" width="100"></a>
    </header>

    <form id="funding">
        <fieldset class="border p-4 custom-container">
            <legend>Section I: Proposed funding arrangements</legend>
            <p>If you are not offered a scholarship by the University, please indicate the main source(s) of funding you plan to use to fund your fees and living expenses. This will not affect the assessment of your application in any way. Please do not include any Oxford scholarships.</p>
            <p class="mb-1 full-opacity">I have information on my alternative funding arrangements.</p>
            <div class="form-group mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fundingInfo" id="fundingInfoYes" value="yes">
                    <label class="form-check-label" for="fundingInfoYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fundingInfo" id="fundingInfoNo" value="no">
                    <label class="form-check-label" for="fundingInfoNo">No</label>
                </div>
            </div>

            <hr>
            <h3>Alternative Funding 1</h3>
            <div class="row mb-3">
                <div class="col-4 label-input-group">
                    <label class="form-label">Proposed funding sources</label>
                    <input type="text" class="form-control" placeholder="family, scholarship">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label">Funding (£/year)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-2 label-input-group">
                    <label class="form-label">Period</label>
                    <input type="text" class="form-control" placeholder="1 year">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label" for="status1">Status</label>
                    <select class="form-select" id="status1">
                        <option value="..." selected>...</option>
                        <option value="intend">Intend to apply</option>
                        <option value="applied">Applied for</option>
                        <option value="secured">Firmly secured</option>
                    </select>
                </div>
            </div>

            <hr>
            <h3>Alternative Funding 2</h3>
            <div class="row mb-3">
                <div class="col-4 label-input-group">
                    <label class="form-label">Proposed funding sources</label>
                    <input type="text" class="form-control" placeholder="family, scholarship">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label">Funding (£/year)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-2 label-input-group">
                    <label class="form-label">Period</label>
                    <input type="text" class="form-control" placeholder="1 year">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label" for="status2">Status</label>
                    <select class="form-select" id="status2">
                        <option value="..." selected>...</option>
                        <option value="intend">Intend to apply</option>
                        <option value="applied">Applied for</option>
                        <option value="secured">Firmly secured</option>
                    </select>
                </div>
            </div>

            <hr>
            <h3>Alternative Funding 3</h3>
            <div class="row mb-3">
                <div class="col-4 label-input-group">
                    <label class="form-label">Proposed funding sources</label>
                    <input type="text" class="form-control" placeholder="family, scholarship">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label">Funding (£/year)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-2 label-input-group">
                    <label class="form-label">Period</label>
                    <input type="text" class="form-control" placeholder="1 year">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label" for="status3">Status</label>
                    <select class="form-select" id="status3">
                        <option value="..." selected>...</option>
                        <option value="intend">Intend to apply</option>
                        <option value="applied">Applied for</option>
                        <option value="secured">Firmly secured</option>
                    </select>
                </div>
            </div>

            <hr>
            <h3>Alternative Funding 4</h3>
            <div class="row mb-5">
                <div class="col-4 label-input-group">
                    <label class="form-label">Proposed funding sources</label>
                    <input type="text" class="form-control" placeholder="family, scholarship">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label">Funding (£/year)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-2 label-input-group">
                    <label class="form-label">Period</label>
                    <input type="text" class="form-control" placeholder="1 year">
                </div>
                <div class="col-3 label-input-group">
                    <label class="form-label" for="status4">Status</label>
                    <select class="form-select" id="status4">
                        <option value="..." selected>...</option>
                        <option value="intend">Intend to apply</option>
                        <option value="applied">Applied for</option>
                        <option value="secured">Firmly secured</option>
                    </select>
                </div>
            </div>

            
            <legend>Departmental studentship applications</legend>
            <p class="mb-1 full-opacity">Are you applying for an advertised studentship(s) competition(s)?</p>
            <div class="form-group mb-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="studentshipApply" id="studentshipApplyYes" value="yes">
                    <label class="form-check-label" for="studentshipApplyYes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="studentshipApply" id="studentshipApplyNo" value="no">
                    <label class="form-check-label" for="studentshipApplyNo">No</label>
                </div>
            </div>
            <div class="form-group label-input-group mb-5">
                <label class="form-label" for="referenceCode">If yes, please provide the advertised reference code from the academic department webpages where the studentship is advertised:</label>
                <input type="text" class="form-control" id="referenceCode">
            </div>
        
            <legend>University of Oxford Scholarships</legend>
            <p>For many <a href="https://www.graduate.ox.ac.uk/scholarships" target="_blank">Oxford scholarships</a>, all eligible applicants are considered automatically. However, if you are eligible and wish to be considered for one of the six scholarships listed below, you need to tick the relevant box(es). Where a scholarship is marked with a '*', you also need to supply an additional supporting document by attaching it in the Supporting Documents section of this form. You can check the eligibility criteria and requirements for supporting documents by visiting the relevant scholarship links below. Please note that the University reserves the right to consider any eligible candidates for Oxford scholarships.</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="hillFoundation">
                <label class="form-check-label" for="hillFoundation"><a href="https://www.graduate.ox.ac.uk/hill" target="_blank">Hill Foundation</a></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ertegun">
                <label class="form-check-label" for="ertegun"><a href="https://www.graduate.ox.ac.uk/ertegun" target="_blank">Mica and Ahmet Ertegun Postgraduate Scholarships in the Humanities*</a></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ocis">
                <label class="form-check-label" for="ocis"><a href="https://www.graduate.ox.ac.uk/ocis" target="_blank">Oxford Centre for Islamic Studies*</a></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="weidenfeld">
                <label class="form-check-label" for="weidenfeld"><a href="https://www.graduate.ox.ac.uk/weidenfeld" target="_blank">Weidenfeld-Hoffmann Scholarships and Leadership Programme*</a></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="oocdtp">
                <label class="form-check-label" for="oocdtp"><a href="https://www.oocdtp.ac.uk/" target="_blank">AHRC: OOC DTP*</a></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="granduniondtp">
                <label class="form-check-label" for="granduniondtp"><a href="https://www.granduniondtp.ac.uk/how-apply" target="_blank">Grand Union DTP *</a></label>
            </div>
        </fieldset>
    </form>

    <footer>
        <div class="container mt-4">
            <div class="progress rounded-pill">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 69.2%;" aria-valuenow="13" aria-valuemin="0" aria-valuemax="17"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="section_h.html" class="btn btn-outline-danger rounded-pill">
                    <span class="bi bi-arrow-left"></span>
                </a>
                <p class="mb-0">9 of 13</p>
                <a href="section_j.html" id="nextBtn" class="btn btn-outline-primary rounded-pill">
                    <span class="bi bi-arrow-right"></span>
                </a>
            </div>
        </div>
    </footer>

    <script src="section_i.js"></script>
</body>
</html>