<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxford Graduate Form - Section F</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../index.css">
</head>
<body>
    <header class="d-flex justify-content-center align-items-center p-3">
        <a href="../layouts/studentView/application-list.html" data-bs-toggle="tooltip" title="Back to Home"><img src="../../assets/images/Oxford-University-Circlet.svg.png" alt="University of Oxford Logo" width="100"></a>
    </header>

    <form id="education">
        <fieldset class="border p-4 custom-container">
            <legend>SECTION F: DETAILS OF CURRENT & PREVIOUS EDUCATION</legend>

            <p class="full-opacity">Please enter your previous and current qualifications, newest first. Include all degree-level and above qualifications.</p>           

            <hr>
            <h3>Education 1</h3>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="university1">University/Institution attended</label>
                    <input type="text" class="form-control" id="university1">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="startDate1">Start date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="startDate1">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="completionDate1">Completion date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="completionDate1">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="qualification1">Qualification obtained</label>
                    <input type="text" class="form-control" id="qualification1">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="subject1">Main subject</label>
                    <input type="text" class="form-control" id="subject1">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="result1">Result/expected result</label>
                    <input type="text" class="form-control" id="result1">
                </div>
            </div>

            <hr>
            <h3>Education 2</h3>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="university2">University/Institution attended</label>
                    <input type="text" class="form-control" id="university2">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="startDate2">Start date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="startDate2">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="completionDate2">Completion date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="completionDate2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="qualification2">Qualification obtained</label>
                    <input type="text" class="form-control" id="qualification2">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="subject2">Main subject</label>
                    <input type="text" class="form-control" id="subject2">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="result2">Result/expected result</label>
                    <input type="text" class="form-control" id="result2">
                </div>
            </div>

            <hr>
            <h3>Education 3</h3>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="university3">University/Institution attended</label>
                    <input type="text" class="form-control" id="university3">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="startDate3">Start date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="startDate3">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="completionDate3">Completion date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="completionDate3">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="qualification3">Qualification obtained</label>
                    <input type="text" class="form-control" id="qualification3">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="subject3">Main subject</label>
                    <input type="text" class="form-control" id="subject3">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="result3">Result/expected result</label>
                    <input type="text" class="form-control" id="result3">
                </div>
            </div>

            <p class="full-opacity mt-5">If you require a Tier 4 student visa, please give details below of any periods of study (including non-degree level courses), complete or incomplete, undertaken in the UK that are not already listed above.</p>
            
            <hr>
            <h3>Period of Study 1</h3>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="universityStudy1">University/Institution attended</label>
                    <input type="text" class="form-control" id="universityStudy1">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="startDateStudy1">Start date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="startDateStudy1">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="completionDateStudy1">Completion date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="completionDateStudy1">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="courseTitle1">Course title</label>
                    <input type="text" class="form-control" id="courseTitle1">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="level1">Level</label>
                    <input type="text" class="form-control" id="level1">
                </div>
            </div>

            <hr>
            <h3>Period of Study 2</h3>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="universityStudy2">University/Institution attended</label>
                    <input type="text" class="form-control" id="universityStudy2">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="startDateStudy2">Start date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="startDateStudy2">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="completionDateStudy2">Completion date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="completionDateStudy2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="courseTitle2">Course title</label>
                    <input type="text" class="form-control" id="courseTitle2">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="level2">Level</label>
                    <input type="text" class="form-control" id="level2">
                </div>
            </div>

            <hr>
            <h3>Period of Study 3</h3>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="universityStudy3">University/Institution attended</label>
                    <input type="text" class="form-control" id="universityStudy3">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="startDateStudy3">Start date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="startDateStudy3">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="completionDateStudy3">Completion date (dd/mm/yyyy)</label>
                    <input type="date" class="form-control" id="completionDateStudy3">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col label-input-group">
                    <label class="form-label" for="courseTitle3">Course title</label>
                    <input type="text" class="form-control" id="courseTitle3">
                </div>
                <div class="col label-input-group">
                    <label class="form-label" for="level3">Level</label>
                    <input type="text" class="form-control" id="level3">
                </div>
            </div>

            <p class="mb-1 mt-5 full-opacity">Have you undertaken degree-level study at any institution, which you have not completed, excluding any qualification you are currently working towards?</p>
            <div class="d-flex mb-2">
                <div class="form-check col-1">
                    <input class="form-check-input" type="radio" name="incompleteDegree" id="incompleteDegreeYes" value="yes">
                    <label class="form-check-label" for="incompleteDegreeYes">Yes</label>
                </div>
                <div class="form-check col-1">
                    <input class="form-check-input" type="radio" name="incompleteDegree" id="incompleteDegreeNo" value="no">
                    <label class="form-check-label" for="incompleteDegreeNo">No</label>
                </div>
            </div>
            <div class="mb-3 label-input-group">
                <label class="form-label" for="incompleteDetails">If "Yes", please state the course(s) and the institution(s) and the reason(s) the qualification was not completed:</label>
                <textarea class="form-control" id="incompleteDetails"></textarea>
            </div>

            <p class="mb-1 full-opacity">Are you planning to begin, or to continue studying for, a degree at any institution, at the same time as you would also be studying at Oxford for the course for which you are now applying?</p>
            <div class="d-flex mb-2">
                <div class="form-check col-1">
                    <input class="form-check-input" type="radio" name="dualStudy" id="dualStudyYes" value="yes">
                    <label class="form-check-label" for="dualStudyYes">Yes</label>
                </div>
                <div class="form-check col-1">
                    <input class="form-check-input" type="radio" name="dualStudy" id="dualStudyNo" value="no">
                    <label class="form-check-label" for="dualStudyNo">No</label>
                </div>
            </div>

            <div class="mb-3 label-input-group">
                <label class="form-label" for="dualStudyDetails">If "Yes", please provide details of the course and the institution and how you believe it will be possible to pursue both courses at the same time:</label>
                <textarea class="form-control" id="dualStudyDetails"></textarea>
            </div>
        </fieldset>
        </fieldset>
    </form>

    <footer>
        <div class="container mt-4">
            <div class="progress rounded-pill">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 46.1%;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="17"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="section_e.html" class="btn btn-outline-danger rounded-pill">
                    <span class="bi bi-arrow-left"></span>
                </a>
                <p class="mb-0">6 of 13</p>
                <a href="section_g.html" id="nextBtn" class="btn btn-outline-primary rounded-pill">
                    <span class="bi bi-arrow-right"></span>
                </a>
            </div>
        </div>
    </footer>

    <script src="section_f.js"></script>
</body>
</html>